{% load static i18n %}
<!DOCTYPE html>
<html lang="zxx">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="robots" content="index, follow" />
        <title>{% trans 'Mioca - Handmade Goods' %}</title>
        <meta name="description" content="Mioca - Handmade Goods eCommerce HTML Template" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <link rel="shortcut icon" href = "{% static 'images/logo/favicon.png' %}" type="image/png">
        
    <link rel="stylesheet" href="{% static 'css/vendor/vendor.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/plugins.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />

</head>

<body>
    <header>
        <div class="header-main sticky-nav ">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-auto align-self-center">
                        <div class="header-logo">
                            <a href="{% url 'home' %}"><img src="{% static 'images/logo/logo.png' %}" alt="Site Logo" /></a>
                        </div>
                    </div>
                    <div class="col align-self-center d-none d-lg-block"> 
                        <div class="main-menu">
                            <ul>
                                <li class="dropdown"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                                <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
                                <li class="dropdown position-static"><a href="{% url 'about' %}">{% trans 'Pages' %}</a>
                                    <ul class="mega-menu d-block">
                                        <li class="d-flex">
                                            <ul class="d-block">
                                                <li class="title"><a href="#">{% trans 'Inner Pages' %}</a></li>
                                                <li><a href="{% url '404' %}">{% trans '404 Page' %}</a></li>
                                                <li><a href="{% url 'faq' %}">{% trans 'Faq' %}</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="title"><a href="#">{% trans 'Other Shop Pages' %}</a></li>
                                                <li><a href="{% url 'cart' %}">{% trans 'Cart Page' %}</a></li>
                                                <li><a href="{% url 'checkout' %}">{% trans 'Checkout Page' %}</a></li>
                                                <li><a href="{% url 'compare' %}">{% trans 'Compare Page' %}</a></li>
                                                <li><a href="{% url 'wishlist' %}">{% trans 'Wishlist Page' %}</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="title"><a href="#">{% trans 'Related Shop Pages' %}</a></li>
                                                <li><a href="{% url 'my-account' %}">{% trans 'Account Page' %}</a></li>
                                                <li><a href="{% url 'register' %}">{% trans 'Register Page' %}</a></li>
                                            </ul>
                                            <ul class="d-flex align-items-center p-0 border-0">
                                                <li>
                                                    <a class="p-0" href="{% url 'shop-left-sidebar' %}"><img
                                                            class="img-responsive w-100"
                                                            src="{% static 'images/banner/menu-banner-1.jpg' %}" alt=""></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown position-static"><a href="{% url 'shop-left-sidebar' %}">{% trans 'Shop' %}</a>                                   
                                </li>
                                <li class="dropdown "><a href="{% url 'blog-single' %}">{% trans 'Blog' %}</a>
                                <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                                <li>
						            <form action="{% url 'set_language' %}" method="post" style="line-height: 120px">
							            {% csrf_token %}
							            <select name="language" onchange="this.form.submit()" style="width: 60px;
                                    height: 48px;
                                    border-radius: 5px;
                                    padding: 9px;">
								            {% get_current_language as LANGUAGE_CODE %}
								            {% get_available_languages as LANGUAGES %}
								            {% get_language_info_list for LANGUAGES as languages %}
								            {% for language in languages %}
								            <option class="nav-link" value="{{ language.code }}"
									            {% if language.code == LANGUAGE_CODE %} selected{% endif %}> {#8#}
									            {{ language.code }}
								            </option>
								            {% endfor %}
							            </select>
						            </form>
					            </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Header Action Start -->
                    <div class="col col-lg-auto align-self-center pl-0">
                        <div class="header-actions">
                            <!-- Single Wedge Start -->
                            <a href="#" class="header-action-btn" data-bs-toggle="modal" data-bs-target="#searchActive">
                                <img src="{% static 'images/icons/search.png' %}" alt="NO IMAGE">
                            </a>
                            <!-- Single Wedge End -->
                            <div class="header-bottom-set dropdown">
                                <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown">
                                    <img src="{% static 'images/icons/user.png' %}" alt="">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" href="{% url 'my-account' %}">{% trans 'My account' %}</a></li>
                                    <li><a class="dropdown-item" href="{% url 'checkout' %}">{% trans 'Checkout' %}</a></li>
                                    {% if request.user.is_authenticated %}
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                                    {% else %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Single Wedge Start -->
                            <!-- Single Wedge End -->
                            <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                <i class="pe-7s-menu"></i>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="offcanvas-overlay"></div>

    <!-- OffCanvas Wishlist Start -->
    <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
        <div class="inner">
            <div class="head">
                <span class="title">{% trans 'Wishlist' %}</span>
                <button class="offcanvas-close">×</button>
            </div>
            <div class="body customScroll">
                <ul class="minicart-product-list">
                    <li>
                        <a href="{% url 'single-product' product.pk|default:0 %}" class="image"><img src="{% static 'images/product-image/1.jpg' %}"
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="{% url 'single-product' product.pk|default:0 %}" class="title">Hand-Made Garlic Mortar</a>
                            <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'single-product' product.pk|default:0 %}" class="image"><img src="{% static 'images/product-image/2.jpg' %}"
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="{% url 'single-product' product.pk|default:0 %}" class="title">Handmade Ceramic Pottery</a>
                            <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'single-product' product.pk|default:0 %}" class="image"><img src="{% static 'images/product-image/3.jpg' %}"
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="{% url 'single-product' product.pk|default:0 %}" class="title">Hand Painted Bowls</a>
                            <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="foot">
                <div class="buttons">
                    <a href="{% url 'wishlist' %}" class="btn btn-dark btn-hover-primary mt-30px">{% trans 'view wishlist' %}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- OffCanvas Wishlist End --> 

    <!-- OffCanvas Cart Start -->
    <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
        <div class="inner">
            <div class="head">
                <span class="title">{% trans 'Cart' %}</span>
                <button class="offcanvas-close">×</button>
            </div>
            
            <div class="body customScroll">
                <ul class="minicart-product-list">
                    <li>
                        <a href="{% url 'single-product' product.pk|default:0%}" class="image"><img src="{% static 'images/product-image/1.jpg' %}"
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="{% url 'single-product' product.pk|default:0%}" class="title">Hand-Made Garlic Mortar</a>
                            <span class="quantity-price">1 x <span class="amount">$18.86</span></span>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'single-product' product.pk|default:0%}" class="image"><img src="{% static 'images/product-image/2.jpg' %}"
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="{% url 'single-product' product.pk|default:0%}" class="title">Handmade Ceramic Pottery</a>
                            <span class="quantity-price">1 x <span class="amount">$43.28</span></span>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'single-product' product.pk|default:0%}" class="image"><img src="{% static 'images/product-image/3.jpg' %}"
                                alt="Cart product Image"></a>
                        <div class="content">
                            <a href="{% url 'single-product' product.pk|default:0%}" class="title">Hand Painted Bowls</a>
                            <span class="quantity-price">1 x <span class="amount">$37.34</span></span>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="foot">
                <div class="buttons mt-30px">
                    <a href="{% url 'cart' %}" class="btn btn-dark btn-hover-primary mb-30px">{% trans 'view cart' %}</a>
                    <a href="{% url 'checkout' %}" class="btn btn-outline-dark current-btn">{% trans 'checkout' %}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- OffCanvas Cart End -->

    <!-- OffCanvas Menu Start -->
    <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
        <button class="offcanvas-close"></button>

        <div class="inner customScroll">

            <div class="offcanvas-menu mb-4">
                <ul>
                    <li><a href="#"><span class="menu-text">{% trans 'Home' %}</span></a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'home' %}"><span class="menu-text">Home 1</span></a></li>
                            <li><a href="{% url 'home' %}"><span class="menu-text">Home 2</span></a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
                    <li>
                        <a href="#"><span class="menu-text">{% trans 'Pages' %}</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#"><span class="menu-text">{% trans 'Inner Pages' %}</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url '404' %}">{% trans '404 Pages' %}</a></li>
                                    <li><a href="privacy-policy.html">{% trans 'Privacy Policy' %}</a></li>
                                    <li><a href="{% url 'faq' %}">{% trans 'Faq' %}</a></li>
                                    <li><a href="coming-soon.html">{% trans 'Coming Soon' %}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="menu-text">{% trans 'Other Shop' %}</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'cart' %}">{% trans 'Cart Page' %}</a></li>
                                    <li><a href="{% url 'checkout' %}">{% trans 'Checkout Page' %}</a></li>
                                    <li><a href="{% url 'compare' %}">{% trans 'Compare Page' %}</a></li>
                                    <li><a href="{% url 'wishlist' %}">{% trans 'Wishlist Page' %}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="menu-text">{% trans 'Related page' %}</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'my-account' %}">{% trans 'Account Page' %}</a></li>
                                    <li><a href="{% url 'register' %}">{% trans 'Register Page' %}</a></li>
                                    <li><a href="thank-you-page.html">{% trans 'Thank You Page' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="menu-text">{% trans 'Shop' %}</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#"><span class="menu-text">{% trans 'Shop Page' %}</span></a>
                                <ul class="sub-menu">
                                    <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                                    <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                                    <li><a href="{% url 'shop-left-sidebar' %}">Shop Left Sidebar</a></li>
                                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                    <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                                    </li>       
                                    <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                    </li>
                                    <li><a href="{% url 'cart' %}">{% trans 'Cart Page' %}</a></li>
                                    <li><a href="{% url 'checkout' %}">{% trans 'Checkout page' %}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="menu-text">{% trans 'Product Details Page' %}</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'single-product' product.pk|default:0%}">Product Single</a></li>
                                    <li><a href="single-product-variable.html">Product Variable</a></li>
                                    <li><a href="single-product-affiliate.html">Product Affiliate</a></li>
                                    <li><a href="single-product-group.html">Product Group</a></li>
                                    <li><a href="single-product-tabstyle-2.html">Product Tab 2</a></li>
                                    <li><a href="single-product-tabstyle-3.html">Product Tab 3</a></li>
                                    <li><a href="single-product-slider.html">Product Slider</a></li>
                                    <li><a href="single-product-gallery-left.html">Product Gallery Left</a>
                                </ul>
                                </li>
                                <li>
                                    <a href="#"><span class="menu-text">{% trans 'Single Product Page' %}</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="single-product-gallery-right.html">Product Gallery Right</a> </li>
                                        <li><a href="single-product-sticky-left.html">Product Sticky Left</a>
                                        </li>
                                        <li><a href="single-product-sticky-right.html">Product Sticky Right</a>
                                        </li>
                                        <li><a href="{% url 'compare' %}">{% trans 'Compare Page' %}</a></li>
                                        <li><a href="{% url 'wishlist' %}">{% trans 'Wishlist' %} </a></li>
                                        <li><a href="{% url 'my-account' %}">{% trans 'Account Page' %}</a></li>
                                        <li><a href="{% url 'login' %}">{% trans 'Login Page' %}</a></li>
                                    </ul>
                                </li>
                        </ul>
                        </li>
                        <li><a href="#"><span class="menu-text">{% trans 'Blog' %}</span></a>
                            <ul class="sub-menu">
                                <li><a href="blog-grid.html">Blog Grid Page</a></li>
                                <li><a href="blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>
                                <li><a href="blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>
                                <li><a href="{% url 'blog-single' %}">Blog Single Page</a></li>
                                <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
                                <li><a href="blog-single-right-sidebar.html">Single Right Sidbar</a>
                            </ul>
                            </li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
            <!-- OffCanvas Menu End -->
            <div class="offcanvas-social mt-auto">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/"><img src="{% static 'images/icons/facebook.png' %}" alt=""></i></a>
                    </li>
                    <li>
                        <a href="https://www.x.com/"><img src="{% static 'images/twitter.png' %}" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.google.com/ "><img src="{% static 'images/icons/google.com.png' %}" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/"><img src="{% static 'images/icons/youtube.png' %}" alt="">></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ "><img src="{% static 'images/icons/instagram.png' %}" alt="">/i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- OffCanvas Menu End -->
{% block content %}

{% endblock %}
    <div class="newsletter-area ">
        <div class="container line-shape-bottom">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-content mb-lm-30px">
                        <div class="newsletter-text">
                            <h3 class="title">{% trans 'News and get updates' %}</h3>
                            <p id="errors" style="color:rgb(238, 41, 41)"></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="news-letter-form">
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form id="subscribeForm" class="validate" novalidate=""  name="mc-embedded-subscribe-form" method="post">
                                {% csrf_token %}
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input class="email" type="email" id="email"  required="" placeholder="Enter Your Mail Here......." name="EMAIL" value="">
                                    <div class="mc-news d-none" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear">
                                        <button id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="">{% trans 'Submit' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Area Start -->
    <div class="footer-area">
        <div class="footer-container">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <!-- Start single blog -->
                        <div class="col-md-6 col-sm-6 col-lg-3 mb-md-30px mb-lm-30px">
                            <div class="single-wedge">
                                <h4 class="footer-herading">{% trans 'Information' %}</h4>
                                <div class="footer-links">
                                    <div class="footer-row">
                                        <ul class="align-items-center">
                                            <li class="li"><a class="single-link" href="{% url 'about' %}">{% trans 'About Us' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Delivery Information' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Privacy Policy' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Sales' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Terms and Conditions' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Shipping Policy' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Payment' %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single blog -->
                        <!-- Start single blog -->
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px">
                            <div class="single-wedge">
                                <h4 class="footer-herading">{% trans 'Account' %}</h4>
                                <div class="footer-links">
                                    <div class="footer-row">
                                        <ul class="align-items-center">
                                            <li class="li"><a class="single-link" href="{% url 'my-account' %}"> {% trans 'My Account' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'cart' %}">{% trans 'My Orders' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Returns' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'shop-left-sidebar' %}">{% trans 'Shopping' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'wishlist' %}">{% trans 'Wishlist' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Merchant Signup' %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single blog -->
                        <!-- Start single blog -->
                        <div class="col-md-6 col-lg-2 col-sm-6 mb-sm-30px">
                            <div class="single-wedge">
                                <h4 class="footer-herading">{% trans 'Store' %} </h4>
                                <div class="footer-links">
                                    <div class="footer-row">
                                        <ul class="align-items-center">
                                            <li class="li"><a class="single-link" href="{% url 'home' %}">{% trans 'Affiliate' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'shop-left-sidebar' %}">{% trans 'Bestseller' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Discount' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'latest Products' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url '404' %}">{% trans 'Sale' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'shop-left-sidebar' %}">{% trans 'All Collection' %}</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'contact' %}">{% trans 'Contact Us' %}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single blog -->
                        <!-- Start single blog -->
                        <div class="col-md-6 col-lg-4 col-sm-6 pl-120px line-shape">
                            <div class="single-wedge ">

                                <h4 class="footer-herading">{% trans 'Contact Us' %}</h4>
                                <div class="footer-links">
                                    <!-- News letter area -->
                                    <p class="mail">{% trans 'If you have any question.please' %}<br>
                                        {% trans 'Contact us at' %} <a href="mailto:demo@example.com">demo@example.com</a> </p>
                                    <p class="address"><img src="{% static 'images/icons/location.png' %}" alt=""> <span>United States
                                            <br>
                                            742 Evergreen Terrace Springfield, IL 62704</span> </p>
                                    <p class="phone m-0"><img src="{% static 'images/icons/oldphone.png' %}" alt=""><span><a href="tel:0123456789">+ 0
                                                123
                                                456 789</a> <br> <a href="tel:0123456789">+ 0 123 456 789</a></span></p>

                                    <!-- News letter area  End -->
                                </div>
                            </div>
                        </div>
                        <!-- End single blog -->
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="line-shape-top">
                        <div class="row flex-md-row-reverse align-items-center">
                            <div class="col-md-6 text-center text-md-end">
                                <div class="payment-mth"><a href="#"><img class="img img-fluid"
                                            src="{% static 'images/icons/payment.png' %}" alt="payment-image"></a></div>
                            </div>
                            <div class="col-md-6 text-center text-md-start">
                                <p class="copy-text"> © 2021 <strong>Mioca.</strong> Made With <i class="fa fa-heart"
                                        aria-hidden="true"></i> By <a class="company-name"
                                        href="https://hasthemes.com/">
                                        <strong> HasThemes</strong></a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Area End -->
    
    <!-- Search Modal Start -->
    <div class="modal popup-search-style" id="searchActive">
        <button type="button" class="close-btn" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <div class="modal-overlay">
            <div class="modal-dialog p-0" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2>{% trans 'Search Your Products' %}</h2>
                        <form class="navbar-form position-relative" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search here...">
                            </div>
                            <button type="submit" class="submit-btn">
                                <img src="{% static 'images/icons/search.png' %}" alt="">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->

{% block content_modal %}

{% endblock %}

    <script src="{% static 'js/vendor/vendor.min.js' %}"></script>
    <script src="{% static 'js/subscriber.js' %}"></script>
    <script src="{% static 'js/plugins/plugins.min.js' %}"></script>

    <!-- Main Js -->
    <script src="{% static 'js/main.js' %}"></script>

    {% block js %}

    <script src="{% static 'js/cart.js' %}"></script>
    
    {% endblock %}

</body>

</html>

