{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="breadcrumb-title">Blog Details</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Blog Details</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <!-- Blog Area Start -->
    <div class="blog-grid pb-100px pt-100px main-blog-page single-blog-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="blog-posts">
                        <div class="single-blog-post blog-grid-post">
                            <div class="blog-image single-blog" data-aos="fade-up" data-aos-delay="200">
                                <img class="img-fluid h-auto" src="{% static 'images/blog-image/single-blog.jpg' %}"
                                    alt="blog" />
                            </div>
                            <div class="blog-post-content-inner mt-30px" data-aos="fade-up" data-aos-delay="400">
                                <div class="blog-athor-date">
                                    <span> By,<a class="blog-author cercle-shape" href="#"> June Cha</a></span>
                                    <span class="blog-date" href="#">25 May, 2023</span>
                                </div>
                                <h4 class="blog-title">How the 10 Worst Handmade Product Fails of All Time Could Have Been Prevented</h4>
                                <p data-aos="fade-up">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magl aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa Duis aute irure
                                    dolor in reprehe in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem accus doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                <h4 class="title">Lorem ipsum dolor sit amet consectetur. </h4>
                                <p data-aos="fade-up" data-aos-delay="200">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magl aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa Duis aute irure
                                    dolor in reprehe in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum.
                                </p>
                            </div>
                            <div class="single-post-content">
                                <div class="quate-speech-area">

                                    <p class="quate-speech" data-aos="fade-up" data-aos-delay="200">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore
                                    </p>
                                    <img src="{% static 'images/blog-image/specker.jpg' %}" alt="" class="speecker-img">
                                </div>
                                <p data-aos="fade-up" data-aos-delay="200">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magl aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa Duis aute irure
                                    dolor in reprehe in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem accus doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                                <h3 class="title">Lorem ipsum dolor sit amet consectetur. </h3>
                                <ul>
                                    <li>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore etdur ur dolore magl aliqua. Ut enim ad minim
                                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequa Duis aute irure dolor in reprehe in voluptate velit</li>
                                    <li>2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore etrfuryi dolore magl aliqua. Ut enim ad minim
                                        veniam, quis nostrud</li>
                                    <li>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididut ut labore et kifuy</li>
                                </ul>
                                <p class="mt-30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magl aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa
                                    Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                    officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <!-- single blog post -->
                    </div>
                    <div class="blog-single-tags-share d-md-flex justify-content-between">
                        <div class="blog-single-tags d-flex" data-aos="fade-up" data-aos-delay="200">
                            <span class="title"><i class="fa fa-tags" aria-hidden="true"></i></span>
                            <ul class="tag-list">
                                <li><a href="#">Fashion,</a></li>
                                <li><a href="#">eCommerce,</a></li>
                                <li class="m-0"><a href="#">Dress</a></li>
                            </ul>
                        </div>
                        <div class="blog-single-share mb-xs-15px d-flex" data-aos="fade-up" data-aos-delay="200">
                            <ul class="social">
                                <li class="m-0">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="comment-area">
                        <h2 class="comment-heading" data-aos="fade-up" data-aos-delay="200">Comments (03)</h2>
                        <div class="review-wrapper">
                            <div class="single-review" data-aos="fade-up" data-aos-delay="200">
                                <div class="review-img">
                                    <img src="{% static 'images/comment-image/1.png' %}" alt="" />
                                </div>
                                <div class="review-content">
                                    <div class="review-top-wrap">
                                        <div class="review-left">
                                            <div class="review-name">
                                                <h4 class="title">Aaron Nunez </h4>
                                                <span class="date">21 July 2023</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-bottom">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisi elit, sed do eiusmod tempor
                                            incidid ut labore etl dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitati ullam laboris nisi ut aliquiex ea commodo consequat.
                                        </p>
                                        <div class="review-left">
                                            <a href="#"><i class="fa fa-reply-all"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-review child-review" data-aos="fade-up" data-aos-delay="200">
                                <div class="review-img">
                                    <img src="{% static 'images/comment-image/2.png' %}" alt="" />
                                </div>
                                <div class="review-content">
                                    <div class="review-top-wrap">
                                        <div class="review-left">
                                            <div class="review-name">
                                                <h4 class="title">Fox Mccloud </h4>
                                                <span class="date">21 July 2023</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-bottom">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisi elit, sed do eiusmoddl tempor
                                            incidid ut labore etl dolore magna aliqua. Ut enim ad minimlkill veniam,
                                            quis nostrud exercitati ullam .</p>
                                        <div class="review-left">
                                            <a href="#"> <i class="fa fa-reply-all"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-review" data-aos="fade-up" data-aos-delay="200">
                                <div class="review-img">
                                    <img src="{% static 'images/comment-image/1.png' %}" alt="" />
                                </div>
                                <div class="review-content">
                                    <div class="review-top-wrap">
                                        <div class="review-left">
                                            <div class="review-name">
                                                <h4 class="title">Korbyn Colon </h4>
                                                <span class="date">21 July 2023</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-bottom">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisi elit, sed do eiusmod tempor
                                            incidid ut labore etl dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud exercitati ullam laboris nisi ut aliquiex ea commodo consequat.
                                        </p>
                                        <div class="review-left">
                                            <a href="#"> <i class="fa fa-reply-all"></i> Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-comment-form">
                        <h2 class="comment-heading" data-aos="fade-up" data-aos-delay="200">Leave a Comment</h2>
                        <div class="form-inner">
                            <div class="row">
                                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                                    <div class="single-form mb-lm-15px">
                                        <input type="text" placeholder="Name *" />
                                    </div>
                                </div>
                                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                                    <div class="single-form mb-lm-15px">
                                        <input type="email" placeholder="Email *" />
                                    </div>
                                </div>
                                <div class="col-md-12" data-aos="fade-up" data-aos-delay="500">
                                    <div class="single-form mb-lm-15px">
                                        <input type="email" placeholder="Subject (Optinal)" />
                                    </div>
                                </div>
                                <div class="col-md-12" data-aos="fade-up" data-aos-delay="200">
                                    <div class="single-form m-0">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12" data-aos="fade-up" data-aos-delay="200">
                                    <button class="btn btn-primary btn-hover-dark border-0 mt-30px" type="submit">Post A Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blag Area End -->
{% endblock %}

{% include 'includes/modal.html' %}